body{
    background-image: url(holio/fondosi.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 700px;
    background-attachment: fixed;
}
img{
    position: relative;
    left: 100px;
}
p{
   position: relative;
   left: 200px;
   width: 884px;
   height: 340px;
   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 38px;
   text-align: center;
   color: #FBFCD3;
}
.name{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 453px;
    top: 599px;
    border: #17202A;
    border-radius: 0.5em;
    color: #2E4053
}
.btn1{
    background: transparent;
    border: none !important;
    position: absolute;
    width: 193px;
    height: 43px;
    left: 663px;
    top: 599px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
    text-decoration-line: underline;

    color: #FBFCD3;

    backdrop-filter: blur(4px);
 }
 #pag1{
    display: block;
    
}

.pag2{
    display: none;
}
.nom1{
    width: 193px;
height: 43px;
left: 663px;
top: 490px;

}
.casas{
    position: relative;
    width: 600px;
    height: 250px;
    left: 350px;
    top:-150px;
}
.btn2{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 420px;
    top: 550px;
    background: #600808;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;
}
.btn3{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 750px;
    top: 550px;
    background: #418031;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;
}
.btn4{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 420px;
    top: 670px;
    background: #D5A52A;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;
}
.btn5{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 750px;
    top: 670px;
    background: #1D288F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;

}