body{

    background-image: url("fin.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 800px;
    background-attachment: fixed;
}

img{
    position: relative;
    left: 100px;
}


.intro{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 200px;
    width: 874px;
    height: 200px;
    background: #34495E;
    opacity: 0.7;
    left: 16px;
    top: 15px;

    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #FBFCD3;

}
.intro2{
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 200px;
    width: 874px;
    height: 100px;
    background: #34495E;
    opacity: 0.7;
    left: 16px;
    top: 35px;

    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;

    color: #FBFCD3;


}
.name{
    position: absolute;
    width: 200px;
    height: 30px;

    left: 453px;
    top: 599px;
    border: #17202A;
    border-radius: 0.5em;
    color: #2E4053
}


.btn1{
    background: transparent;
    border: none !important;
    position: absolute;
    width: 193px;
    height: 43px;
    left: 663px;
    top: 500px;
    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
    text-decoration-line: underline;
    color: #FBFCD3;
    backdrop-filter: blur(4px);
    
}

#pag1{

    display: block;
    
}

.pag2{
    display: none;
}

.nom1{
    width: 193px;
    height: 43px;
    left: 663px;
    top: 490px;

}
.casas{
    position: relative;
    width: 600px;
    height: 250px;
    left: 350px;

    top:100px;

}
.btn2{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 420px;

    top: 480px;

    background: #600808;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;
}
.btn3{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 750px;

    top: 480px;

    background: #418031;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;
}
.btn4{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 420px;

    top: 590px;

    background: #D5A52A;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;
}
.btn5{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 750px;

    top: 590px;

    background: #1D288F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
    color: #FBFCD3;


} 
.btn6{
    background: transparent;
    border: none !important;
    position: absolute;
    width: 193px;
    height: 43px;
    left: 1000px;
    top: 700px;
    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
    text-decoration-line: underline;
    color: #FBFCD3;
    backdrop-filter: blur(4px);
  
}
.data{
    margin-top: 200px;
}
/*cartas*/
.contaier{
    float: left;
    border: 10px #FBFCD3;
    width: 200px;
    height: 300px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-flow: wrap;
    /*align-content: space-around;*/
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
}
.info{
    float: left;
    border:10px;
    color: #FBFCD3;

}
.fotos{
    width:100px;
    height: 150px;

}

.description{
    display: flex;
    color: #FBFCD3;
    width: 90%;
    word-wrap: wrap;
}
